/* .profile {
  -ms-flex-preferred-size: 80%;
			flex-basis: 80%;
	padding: 10px;
}

.profile__column {
  height: 100%;
  background-color: #edeef0;
  padding: 10px;
  -webkit-box-shadow: 1px 0px 9px 2px rgba(0, 0, 0, 0.18);
          box-shadow: 1px 0px 9px 2px rgba(0, 0, 0, 0.18);
} */