.profile__bg {
  max-width: 100%;
}

.profile__bg img {
  width: 100%;
  max-height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-box-shadow: 1px 0px 9px 2px rgba(0, 0, 0, 0.18);
  box-shadow: 1px 0px 9px 2px rgba(0, 0, 0, 0.18);
}
