.header {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  padding: 10px;
}


.header__row {
  height: 60px;
  padding: 10px;
  background-color: #edeef0;
  -webkit-box-shadow: 1px 0px 9px 2px rgba(0, 0, 0, 0.18);
  box-shadow: 1px 0px 9px 2px rgba(0, 0, 0, 0.18);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  height: 100%;
}

.header__row a {
  color: rgb(141, 85, 85);
  text-decoration: none;
  font-weight: bold;
}