.post__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.post__logo {
  width: 50px;
  height: 50px;
}

.post__logo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}

.post__text {
  margin-left: 20px;
  -ms-flex-preferred-size: 80%;
  flex-basis: 80%;
}

.post__like {
  width: 30px;
  height: 30px;
  border: none;
  background-color: rgb(231, 220, 115);
  border-radius: 25%;
  cursor: pointer;
  transition: all .2s;
}

.post__like:hover {
  background-color: rgb(233, 210, 5);
}
