.profile__ava {
  width: 100px;
  height: 100px;
  background-color: green;
  -webkit-box-shadow: 1px 0px 9px 2px rgba(0, 0, 0, 0.18);
  box-shadow: 1px 0px 9px 2px rgba(0, 0, 0, 0.18);
}

.profile__ava img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.profile__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.profile__descr {
  margin-left: 20px;
}

.profile__item {
  margin: 10px 0;
  list-style-type: none;
  font-weight: 600;
}

.profile__item span {
  font-weight: 400;
  margin-left: 5px;
}

.profile__item:first-child {
  margin-bottom: 25px;
  font-weight: 600;
}

.profile__contacts {
  display: flex;
  flex-direction: column;
}