.friends__item {
  list-style-type: none;
  padding: 10px;
}

.friends__photo {
  width: 40px;
  height: 40px;
}

.friends__photo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}

.friends__name {
  margin-top: 5px;
}