.dialogs {
  display: flex;
  justify-content: space-between;
}

.users {
  flex-basis: 20%;
  background-color: #fff;
  padding: 10px;
  -webkit-box-shadow: 1px 0px 9px 2px rgba(0, 0, 0, 0.18);
  box-shadow: 1px 0px 9px 2px rgba(0, 0, 0, 0.18);
}

.message {
  flex-basis: 75%;
  background-color: #fff;
  padding: 10px;
  -webkit-box-shadow: 1px 0px 9px 2px rgba(0, 0, 0, 0.18);
  box-shadow: 1px 0px 9px 2px rgba(0, 0, 0, 0.18);
}

.message__input {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  padding: 15px;
  outline: none;
  -webkit-box-shadow: 1px 0px 9px 2px rgba(0, 0, 0, 0.18);
  box-shadow: 1px 0px 9px 2px rgba(0, 0, 0, 0.18);
}

.message__btn {
  width: 100px;
  height: 40px;
  background-color: #e7dddd;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  -webkit-box-shadow: 1px 0px 9px 2px rgba(0, 0, 0, 0.18);
  box-shadow: 1px 0px 9px 2px rgba(0, 0, 0, 0.18);
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.message__btn:hover {
  background-color: #e9b3b3;
}

.message__btn:focus {
  outline: none;
}